*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --black:#000;
    --white:#FFF;
}
body{
    background-color: var(--black);
    color: var(--white);
}
.nav {
    padding:2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav button{
    padding: 0.6rem 1.2rem;
    color: var(--white);
    font-size: 1.1rem;
    border:2px solid var(--white);
    border-radius: 3rem;
    background-color: var(--black);
    transition: all 1s ease;
}
.nav button:hover{
    background-color: var(--white);
    color: var(--black);
}
.nav img {
    max-width: 100px;
    height: auto;
}
section{
    overflow: auto;
    min-height: 65vh;
    margin: 4rem 6rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}
p{
    font-size: 2rem;
}

.section2 h2,.section3 h2{
    font-size: 3rem;
}
.section2 ul{
    list-style: none;
}
.section2 li{
    font-size: 2rem;
    margin-bottom: 1rem;
}
form{
    margin: 6rem auto;
    border:none;
    padding-left: 20px;
    background-color: white;
    height: 9vh;
    max-width:600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
}
input{
    width: 70%;
    font-size: 20px;
    border: none;
    outline: none;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    height: 100%;
    width: auto;
    border-radius: 3rem;
    border: none;
    background-color: red;
    color: var(--white);
}
.section3{
    height: 50vh;
    margin-top:7rem;
}
@media (max-width: 768px){
    .nav button{
        padding: 0.4rem 0.8rem;
        color: var(--white);
        font-size: 1rem;
        border:2px solid var(--white);
        border-radius: 3rem;
        background-color: var(--black);
    }
    .nav{
        padding: 1rem 1rem;
    }
    section{
        margin:2rem 1rem;
    }
    h1{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    h2{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    p{
        text-align: center;
        font-size: 1.2rem;
    }
    .section2 h2,.section3 h2{
        text-align: center;
        font-size: 1.6rem;
    }
    .section2 li{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
    }
    form{
        margin: 6rem auto;
        border:none;
        padding-left: 20px;
        background-color: white;
        height: 6vh;
        max-width:350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3rem;
    }
    button{
        font-size: 10px;
    }
    input{
        font-size: 10px;
    }
    .section3{
        margin-top:4rem;
        height: 10vh;
    }
}